.button {
  border-radius: 3px;
  background: var(--color-black);
  padding: 0.8rem 2.4rem;
  color: var(--color-grey-light);
  font-size: 1.6rem;
  line-height: 1;

  &:hover, &:focus-visible {
    background: var(--color-grey-dark);
    color: var(--color-white);
  }
}

.button[type="button"] {
  cursor: pointer;
}

.button--primary {
  background: var(--color-green);
  color: var(--color-white);

  &:hover, &:focus-visible  {
    background: var(--color-green-hover);
  }
}
