.header {
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  height: 6.4rem;
  z-index: 999;
  transition: box-shadow 0.3s ease;

  &.scrolled {
    box-shadow: 0 2px 6px var(--color-shadow);
  }

  @media (--tablet) {
    height: 7.2rem;
  }
}

.header__inner {
  display: grid;
  position: relative;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 0 2rem;
  padding: 1.6rem 2rem;

  @media (--tablet) {
    padding: 1.4rem 2.4rem;
  }
}

.header__logo {
  display: flex;
}

.header__logo svg {
  width: 129px;
  height: 32px;

  @media (--tablet) {
    width: 178px;
    height: 44px;
  }
}
