.hero {
  background:
    url("/images/hero-bg.svg") top center / 307px 258px no-repeat,
    linear-gradient(var(--color-brand) 0 67.9rem, var(--color-white) 0);

  @media (--tablet) {
    background:
      url("/images/hero-bg.svg") top center / 640px 538px no-repeat,
      linear-gradient(var(--color-brand) 0 102.1rem, var(--color-white) 0);
  }

  @media (--desktop) {
    background:
      url("/images/hero-bg.svg") top left calc(50% + 39rem) / 780px 656px no-repeat,
      linear-gradient(var(--color-brand) 0 65.6rem, var(--color-white) 0);
  }
}

.hero__content {
  padding-top: 240px;

  @media (--tablet) {
    padding-top: 480px;
  }

  @media (--desktop) {
    padding-top: 120px;
  }
}

.hero__tag-list {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;

  @media (--tablet) {
    margin-bottom: 1.6rem;
  }
}

.hero__tag {
  margin-bottom: 1rem;
  position: relative;
  margin-right: 0.8rem;
  display: flex;

  &::before {
    content: '';
    position: absolute;
    border-radius: 3px;
    inset: 0;
    transform: translate(0.5rem, 0.5rem);
  }

  &:first-child::before {
    background-color: var(--color-yellow);
  }

  &:not(:first-child)::before {
    background-color: var(--color-blue);
  }

  & span {
    padding: 0.4rem 0.7rem;
    border: 1px solid var(--color-black);
    border-radius: 3px;
    z-index: 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.01em;

    @media (--tablet) {
      font-size: 2.2rem;
      line-height: 1.1;
      padding: 0.6rem 1.2rem;
      border-width: 2px;
      border-radius: 4px;
    }
  }

  @media (--tablet) {
    margin-right: 1.4rem;

    &::before {
      transform: translate(0.7rem, 0.7rem);
    }
  }
}

.hero__title {
  margin-bottom: 1.2rem;
  font-weight: 700;
  font-style: normal;
  font-size: 2.7rem;
  line-height: 1.2;
  letter-spacing: -0.02em;

  @media (--tablet) {
    margin-bottom: 2rem;
    font-size: 5.2rem;
    line-height: 1.13;
  }

  @media (--desktop) {
    font-size: 6rem;
    max-width: 70rem;
  }
}

.hero__caption {
  margin-bottom: 3rem;
  font-size: 1.6rem;
  line-height: 1.5;

  @media (--tablet) {
    max-width: 54rem;
    margin-bottom: 6rem;
    font-size: 2.2rem;
    line-height: 1.5;
    letter-spacing: -0.01em;
  }

  @media (--desktop) {
    margin-bottom: 8rem;
  }
}
