.statistics {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--color-white);
  padding: 0 3.2rem 2.8rem;
  border-radius: 12px;

  box-shadow: 0 30px 44px 0 var(--color-shadow);

  @media (--tablet) {
    padding: 0 4.3rem 3rem;
    border-radius: 18px;
  }

  @media (--desktop) {
    padding: 1.2rem 7.2rem 1.2rem 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

.statistics__company-logo {
  width: 142px;
  aspect-ratio: 212 / 160;
  height: auto;

  @media (--tablet) {
    width: 199px;
  }

  @media (--desktop) {
    width: 212px;
  }
}

.statistics__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0.8rem;

  @media (--tablet) {
    display: grid;
    width: 100%;
    grid-template-columns: 16rem 1fr 19.5rem;
    border-top: 1px solid var(--color-border);
    padding: 2rem 1.6rem 0;
  }

  @media (--desktop) {
    display: flex;
    flex-direction: row;
    padding: 0;
    border: none;
    width: auto;
  }
}

.statistics__item {
  padding: 28px;
  text-align: center;
  box-shadow: 0 -1px 0 0 var(--color-border);

  @media (--tablet) {
    padding: 19px 48px;
    box-shadow: none;

    &:first-child {
      padding-left: 0;
      border-right: 1px solid var(--color-border);
    }

    &:last-child {
      padding-right: 0;
      border-left: 1px solid var(--color-border);
    }
  }

  @media (--only-tablet) {
    &:last-child::before {
      display: initial;
      content: '10тыс.';
      font-size: 4.6rem;
      line-height: 1;
      font-weight: 500;
      margin-bottom: 4px;
    }

    &:last-child .statistics__value {
      font-size: 0;
    }
  }

  @media (--desktop) {
    padding: 1.1rem 4.4rem;
  }
}

.statistics__value {
  margin-bottom: 4px;
  display: block;
  font-size: 3.6rem;
  line-height: 1;
  letter-spacing: -0.01em;
  font-weight: 500;

  @media (--tablet) {
    font-size: 4.6rem;
    margin-bottom: 0.8rem;
  }

  @media (--desktop) {
    margin-bottom: 0.4rem;
  }
}

.statistics__label {
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 400;

  @media (--tablet) {
    font-size: 2rem;
  }
}
